.Password {
  display: flex;
}
.Password input {
  width: 100%;
  align-self: center;
}

.ButtonDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.EyeButton {
  border: none;
  padding: 3px 10px;
  background-color: transparent;
  margin-left: -50px;
  cursor: pointer;
}
.EyeButton:focus {
  outline: none;
}
.PasswordDiv {
  width: 81%;
  display: grid;
  grid-template-rows: 45% auto;
}
.PasswordDiv label {
  font-size: 23px;
  padding: 5px;
  padding-left: 0px;
  justify-self: start;
  margin-bottom: 10px;
}
.PasswordInnerDiv {
  display: flex;
}

.PasswordDiv input {
  width: 100%;
  align-self: center;
  width: 100%;
  border: 0;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  font-size: 23px;
  padding: 10px;
  border-radius: 5px;
}

.ButtonDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
