.fade-enter {
  opacity: 0;
  transform: translateX(-120%);
}

.fade-enter-active {
  opacity: 1;
  transition: 1s;
  transform: translateX(0%);
}
.fade-exit {
  opacity: 1;
  transform: translateX(0%);
}

.fade-exit-active {
  opacity: 0;
  transition: 0.5s;
  transform: translateX(120%);
}
