.Button {
  border: none;
  font-size: 25px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #45ffb2dc;
  width: 80%;
  padding: 5px;
  transition: all 0.1s;
}
.Button:focus {
  outline: 0;
}
.Button:hover,
.Button:active {
  transform: scale(1.05);
}
.ButtonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
