.FirstForm {
  width: 600px;
  height: 570px;
  border-radius: 10px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.85),
    rgba(255, 255, 255, 0.55)
  );
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  cursor: default;
  display: grid;
  grid-template-rows: 15% auto 5% 20%;
  margin: 0 auto;
}

.InputDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .FirstForm {
    width: 95%;
    height: 550px;
  }
}
